*.DS_Store
*.csproj
*.meta
Unity/ProjetUnity/Temp
Unity/ProjetUnity/obj
Unity/ProjetUnity/.vs/ProjetUnity
node_modules/
/dist/
npm-debug.log
yarn-debug.log
yarn-error.log
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
